.container{
    display: flex;
    flex-direction: column;
    column-gap: 2rem;
    margin-bottom: 1rem;
}

.top{
    display: flex;
}
.imgcon{
    position: relative;
    width: 90%;
    height: 250px;
}
.img{
    object-fit: contain;
}
.date{
    font-size: small;
    transform: rotate(270deg);
    margin: auto;
}

.title{
  margin-top: 0.7rem;
  font-size: 20px;
  margin-bottom: 0.2rem;  
  width: 85px;  
}

.des{
    margin-bottom: 0.5rem;
    font-weight: 300;
    color: grey;
    width: 85px;
}

.link{
    text-decoration: underline;
    color: var(--btn);
}

