.container{
    display: flex;
    flex-direction: column;
    column-gap: 0.5rem;
    margin-bottom: 1rem;
    border: 1px rgb(255, 104, 190) solid;
    padding: 10px;
    border-radius: 10px;
    background-blend-mode: exclusion;
}

.top{
    display: flex;
}
.imgcon{
    position: relative;
    width: 100%;
    height: 250px;
}
.img{
    object-fit: cover;
    border-radius: 10px;
}

.title{
 display: flex;
 justify-content: center;
 align-items: center;
  margin-top: 0.7rem;
  font-size: 20px;
  margin-bottom: 0.2rem;    
}

.des{
    margin-bottom: 0.5rem;
    font-weight: 300;
    color: grey;
}

.link{
    color: var(--btn);
}
.bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
